autopep8
blinker
certifi
charset-normalizer
click
colorama
dnspython
dnspython3
Flask
Pandas
idna
iniconfig
itsdangerous
Jinja2
MarkupSafe
numpy
packaging
pandas
Pillow
pluggy
pycodestyle
pytest
python-dateutil
pytz
requests
six
scikit-learn
sniffio
tzdata
urllib3
Werkzeug
pickle5
gunicorn
